.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      width: 135px;
      height: 25px;
      background: url("../../../assets/WOMEN’S.png") no-repeat center;
    }

    .ref {
      display: flex;
      width: 600px;
      align-items: center;
      justify-content: space-between;

      a {
        text-decoration: none;
        font-family: Spartan;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 13px;
        text-align: right;
        letter-spacing: 0.06em;
        color: #121212;
        opacity: 0.6;
      }
    }
  }

  .women__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .view_all {
    width: 1110px;
    height: 48px;
    margin-top: 48px;
    background-color: #F8F8F8;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .btn {
      width: 61px;
      height: 15px;
      background: url('../../../assets/See\ All.png') no-repeat center;
    }
  }
}
